.nav {
  display: flex;
  align-items: center;
  height: 70px;
  /* border-bottom: 2px solid var(--col-primary); */
  width: 100%;
}

.navSection:nth-child(1) {
  /* border: 2px solid red; */
  flex: 1;
}
.navSection:nth-child(2) {
  position: relative;
  flex: 3.5;
  /* border: 2px solid blue; */
  /* height: 100%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-sm);
}
.navSection:nth-child(3) {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  background-color: var(--col-primary);
  color: var(--col-secondary);
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
  /* border: 2px solid green; */
}

/* .navLink {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.navLink a {
  text-decoration: none;
  color: var(--col-primary);
  margin-right: 10px;
} */

.linksContainer {
  /* border: 2px solid red; */
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-bold);
  color: var(--col-primary);
  cursor: pointer;
}

.linksContainer svg {
  font-size: 22px;
  transition: transform 0.3s ease;
}

.dropdown {
  /* border: 2px solid red; */
  background-color: var(--col-secondary);
  width: 100%;
  max-width: 300px;
  text-align: center;
  position: absolute;
  top: 174%;
  left: 0;
  transform: translateY(-11px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
  /* padding: 4px 4px; */
  /* display: none; */
}

.translate {
  transform: translateY(-1px);
  opacity: 1;
  pointer-events: auto;
}

.rotate {
  transform: translateY(3px) rotate(180deg);
}
.logoContainer {
  position: relative;
  width: 70px;
  height: 70px;
}

.active {
  font-weight: var(--font-bold);
}

.dropItem {
  padding: 4px;
  transition: all 0.5s ease;
  cursor: pointer;
  color: var(--col-primary);
}

.dropItem:hover {
  background-color: var(--col-primary);
  color: var(--col-secondary);
}

.dropItem:hover a {
  color: var(--col-secondary);
}
.dropItem a {
  text-decoration: none;
  color: var(--col-primary);
}

@media screen and (min-width: 768px) {
  .navSection:nth-child(1) {
    margin-left: 10px;
  }
  .navLink a,
  .navSection:nth-child(3) {
    font-size: var(--font-med);
  }
  .navLink {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid blue; */
  }
  .dropdown {
    left: 13.5%;
    top: 193%;
  }
}
@media screen and (min-width: 1024px) {
  .navLink a,
  .navSection:nth-child(3) {
    font-size: var(--font-large);
  }
  .navLink {
    width: 40%;
  }
  .dropdown {
    left: 22.5%;
    top: 193%;
  }
}
@media screen and (min-width: 1300px) {
  .dropdown {
    left: 32%;
    top: 173%;
  }
}
